<!doctype html>
<html>
<style>
    body {
        background-image: url('https://studentlife.umich.edu/files/sa/field/image/WtrCampusHousing(060).JPG')
	    }
</style>
<div class="everything">
<body>
    <h1>What's good fam, this website is popping</h1>
    <h2>Created by John Tobin on 9/7/15</h2>
</div>

<%= link_to 'My Blog', controller: 'articles' %>
</body>
</html>
