<!doctype html>
<html>
<style>
	body {
    	background-image: url('https://studentlife.umich.edu/files/sa/field/image/WtrCampusHousing(060).JPG');
    	background-size: cover;
		}
	h1, h2 {
		text-align: center;
	}
</style>
<body>
<div class="everything">
    <h1>Welcome to our domain</h1>
    <h2>Created by John Tobin on 9/7/15</h2>
</div>

<%= link_to 'My Blog', controller: 'articles' %>
</body>
</html>
